/* CSS ADOÇÃO - ONG */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff914d;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 27rem;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

/* BOTÃO VOLTAR */
.back-button {
    display: flex;
    align-items: center;
}

.back-button button {
    border: none;
    background-color: #2a1e5c;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.back-button button:hover {
    background-color: #2a1e5c;
}

.back-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0.5rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.9rem 0.9rem;
    padding: 0.8em 2.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #6026ff4b;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #2a1e5c;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

/* ESPÉCIE */

.species-group {
    display: -webkit-inline-flex;
    justify-content: space-around;
    margin-top: 0.62rem;
    padding: 0.3rem 0.3rem;
    
}

.species-input {
    display: flexbox;
    align-items: center;
}

.species-input input {
    margin-right: 0.35rem;
}

.species-input label {
    font-size: 0.90rem;
    font-weight: 600;
    color: #000000c0;
}


.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #2a1e5c;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #2a1e5c;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .species-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .species-inputs {
        margin-top: 2rem;
    }
    .species-group {
        flex-direction: row;
    }
    .species-title h6 {
        margin: 0;
    }
    .species-input {
        margin-top: 0.5rem;
    }
}
