/* CSS ADOÇÃO - ONG */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff914d;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

/* BOTÃO VOLTAR */
.back-button {
    display: flex;
    align-items: center;
}

.back-button button {
    border: none;
    background-color: #2a1e5c;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.back-button button:hover {
    background-color: #2a1e5c;
}

.back-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #2a1e5c;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1rem 0;
}

/* MUDA O ESPAÇO ENTRE ELES */

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8em 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #6026ff77;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #2a1e5c;
}

.input-box input::placeholder {
    color: #000000be;
}

/* ESPÉCIE */

.species-group {
    display: -webkit-inline-flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    padding: 0.3rem 0.3rem;
    
}

.species-input {
    display: flexbox;
    align-items: center;
}

.species-input input {
    margin-right: 0.35rem;
}

.species-input label {
    font-size: 0.90rem;
    font-weight: 600;
    color: #000000c0;
}

/* CONTINUAR */

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #2a1e5c;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #2a1e5c;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}


